@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.text-box-settings {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7-float-text-box {
  float: left;
  margin-left: 50px;
}

.q7-float-text-box:first-child {
  margin-left: 0;
}

.q7-table-contents {
  display: table;
  box-sizing: border-box;
}


.q7-table-box:last-child {
  padding-right: 0;
}

.q7-table-box {
  display: table-cell;
  padding: 0 50px 0 0;
  padding-left: 0;
  vertical-align: middle;
}

.q7-block:first-child {
  margin-left: 0;
}

.q7-block-contents {
  font-size: 0;
}

.q7-block {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

.q7-frex-contents:first-child {
  align-items: flex-end;
}

.q7-frex-contents {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.q7-conbination-contents {
  font-size: 0;

}

.q7-margin-inline-text {
  display: inline-block;
  font-size: 16px;
}

.variable-box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
}


.frex-box {
  vertical-align: top;
  width: 300px;
  display: inline-block;
}
/* 回答はここに書いてね */
