@charset "UTF-8";

/* 回答はここに書いてね */
.q9-contents {
  width: 550px;
  margin: 0 auto;
}

.text-box{
  position: relative;
  border-radius: 30px;
  border: solid 5px #222;
}

.text-box::before,
.text-box::after {
  content: "";
  position: absolute;
  left: 25px;
  border: solid;
  border-width: 25px 25px 0 25px;

}

.text-box::after {
  bottom: -18px; 
  border-color: #fff transparent transparent transparent;
}

.text-box::before {
  border-color: #222 transparent transparent transparent;
  bottom: -25px;
}

.text {
  padding: 20px;
  line-height: 16px;
  font-size: 16px;
}
/* 回答はここに書いてね */
