@charset "UTF-8";

/* 回答はここに書いてね */
.tab {
  table-layout: fixed;
  border: solid #dedede 1px;
  width: 100%;
}

.tab tr {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.tab th {
  color: white;
  border: solid #dedede 1px;
  background-color: #2244aa;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
}

.tab tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.tab td {
  vertical-align: middle;
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
}

.tab tfoot tr:last-child {
  border-top: dashed 2px;
}
/* 回答はここに書いてね */
