@charset "UTF-8";

/* 回答はここに書いてね */

.white {
  text-align: center;
}

.align {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.q6_margincontent {
  margin: 0 auto;

}

.margin {
  width: 90px;
  display: block;
  padding:10px;
  margin: 0 auto;
  text-align: center;
  background-color: #e6f2ff;
}

.q6_table {
  display: table;
}

.table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.text {
  display: inline;
  padding: 10px;
  background-color: #fff;
}

.q6_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flextext {
  padding: 10px;
  background-color: #fff;
}

.q6_fixed {
  position: relative;
}

.boxfixed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.q6_variable {
  position: relative;
}

.boxvariable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)
  translateX(-50%);
}
/* 回答はここに書いてね */
